.projects-wrapper {
    display: flex;
    flex-direction: column;
    height: fit-content;
    position: relative;
}

.projects-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50vh;
    text-align: center;
    font-size: 6vw;
}

.cards-row {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    padding: 0 0 90px 0;
}

.cards-row-mobile {
  display: none;
}

@media screen and (orientation: portrait) {

  .projects-header {
    height: 25vh;
    font-size: 10vw;
  }

  .cards-row {
    display: none;
  }

  .cards-row-mobile {
      display: flex;
      flex-flow: row;
      align-items: center;
      justify-content: center;
      padding: 0 0 60px 0;
  }
  
}