


.button-large{
    display: flex;
    width: auto;
    align-items: center;

}

.button-small {
    display: flex;
    flex-direction: row;
    width: auto;
    height: fit-content;
    align-items: center;
    padding-right: 20px;
}

.button-large-icon {
    width: 6vw;
    height: 6vh;
    object-fit: contain;
    
}

.button-large-text {
    color: white;
    font-size: 2vw;
    text-decoration: none;
    font-family: Gilroy-Medium;
    
}

.button-small-icon {
    width: 3vw;
    height: 3vw;
    object-fit: contain;
    
}

.button-small-text {
    color: white;
    font-size: 2vw;
    text-decoration: none;
    font-family: Gilroy-Bold;
    padding-left: 10px;
    display: flex;
    flex-direction: column;    
}


.button-large:hover{
    transform: scale(1.2);
    transition: all 0.2s ease-in-out;
}

.button-small:hover{
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
}

@media screen and (max-width: 1024px){
 

  
}

@media screen and (orientation: portrait) {

    .button-large-text {
        
        font-size: 5.5vw;
        padding-left: 2vw;
        
    }

    .button-large-icon {
        width: 6vw;
        height: auto;
    }

    .button-small-icon {
        width: 7vw;
        height: 7vw;
        object-fit: contain;
        
    }
    
    .button-small-text {
        color: white;
        font-size: 3vw;
        text-decoration: none;
        font-family: Gilroy-Bold;
        padding-left: 10px;
        display: flex;
        flex-direction: column;    
    }
    
}