.card-wrapper {
    display: flex;
    flex-direction: row;
    width: 80vw;
    height: 16vw;
    justify-self: center;
    color: white;
}

.card-image-wrapper {
    display: flex;
    flex-direction: row;
    width: 20%;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
}

.card-image {
    width: 90%;
    height: 90%;
    border-radius: 50%;
    border: 3px solid white;
    object-fit: cover;
    object-position: center;
}

.card-body-wrapper {
    display:flex;
    flex-direction: column;
    width:80%;
    height: 100%;
    padding-left: 0;
}

.card-upper-section {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50%;
    border-bottom: 2px solid white;
}

.card-headers {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
    justify-content: flex-end;
}

.card-header {
    font-family: Gilroy-Medium;
    font-size: 4vw;
    line-height: 90%;
}

.card-year {
    font-family: Gilroy-Medium;
    font-size: 2.5vw;
}

.card-badges {
    display: flex;
    flex-direction: row;
    width: 30%;
    height: 100%;
    justify-content: flex-end;
    align-items: flex-end;
    padding-bottom: 10px;
}

.card-badge {
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    object-position: center;
    object-fit: contain;
    background-color: white;
    margin: 0 0 0 10px;
}

.card-lower-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
}

.card-description {
    font-family: Gilroy-Medium;
    font-size: 1.7vw;
    padding-top: 6px;
    width: 100%;
    height: 50%;
}

.card-buttons {
    display: flex;
    flex-direction: row;
    height: 50%;
    padding-top: 20px;
    justify-content: flex-start;
    
}



@media screen and (orientation: portrait) {

    .card-wrapper {
        width: 90vw;
        height: 50vw;
        flex-direction: column;
    }

    .card-body-wrapper {
        width: 100%;
        height: 100%;
        
    }

    .card-image-wrapper {
        display: none;
    }   
    
    .card-header {
        font-size: 6vw;
    }
    
    .card-year {
        font-size: 3.5vw;
    }

    .card-badge {
        width: 6vw;
        height: 6vw;
        margin: 0 0 0 10px;
    }
    
    .card-description {
        font-size: 3vw;
    }
    
}






