
    @media screen and (orientation:portrait) {
        
    

    .real-hero-container {
        display: flex;
        flex-flow: column;
        background-color: black;
        
        

       
    }

  
    
    .hero-container{
        display: flex;
        flex-flow: column;
        position: relative;
        width: 100vw;
        align-content: flex-start;
        height: 92vh;

    }

    .hero-headers-wrapper-mobile {
        position: absolute;
        vertical-align: middle;
        text-align: center;
        color: #fff;
        top: 33vh; right: 0;
	    bottom: 0; left: 0;
    }

    .hero-header-mobile {
        font-size: 16vw;
    }

    .hero-img {
        height: 100%;
        object-fit: cover;
    }

    .hero-texts {
      
        display: flex;
        flex-direction: column;
        background-image: url('../assets/images/backgrounds/final-background.png');
        background-size: cover;
        background-repeat: round;
        background-position: center;
   

    }



    .hero-headers-wrapper {
        display: none;
        width: 100vw;
     
    }

    .hero-header {
        padding: 0px;
        color: #fff;
        align-self:center;
   
        

    
    } 
    
    .hero-text {
        text-align: center;
        display: inline-flexbox;
        color: #fff;
        padding: 3vh 3vw;
        font-size: 5.5vw;
        font-family: Gilroy-Medium;
       
    }

    .hero-buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding-top: 1rem;
    }


    .ync-hacks-link {
      
        color: white;
        text-decoration: underline;
        font-family: Gilroy-Medium;
    }



    }

    @media screen and (orientation:landscape) {
        .real-hero-container {
            
            display: flex;
            flex-flow: row;
            
        }
        
        .hero-container {
            height: 92vh;
            
            width: 40vw;
            display: flex;

            
          
            
        
        }
    
       
    
        .hero-img {
            width: 100%;
            object-position: top;
            object-fit:cover;
            justify-self:flex-start;
            
            
        }
        
        
        
        .hero-texts {
            display: flex;
            flex-flow: column;
            width: 60vw;
            padding-left: 5vw;
            background-image: url('../assets/images/backgrounds/home-background.png');
            background-size: contain;
            background-repeat: round;
            padding-right: 10vw;
            justify-content: center;
           
            
        }
        
        .hero-headers-wrapper {
        
            display: flex;
            flex-flow: column;
        
        }
        
        
        
        .hero-header {
            font-size: 10vw;
            display: flex;
            color: #fff;
            align-self:flex-start;
            line-height: normal;
            font-family: Gilroy-Bold;
            line-height: 100%;
            
          
        
        } 
        
        .hero-text {
        
            display: inline-flexbox;
            color: #fff;
            padding-top: 4vh;
            padding-bottom: 4vh;
            font-size: 2.5vw;
            font-family: Gilroy-Medium;
            
         

        }

      
   
    
        .hero-header-mobile {
            display: none;
        }
    
        .hero-headers-wrapper-mobile {
            display: none;
        }
    
    
        .hero-buttons {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            text-decoration: none;

           
        }
    

        .ync-hacks-link {
          
            color: white;
            text-decoration: underline;
            font-family: Gilroy-Medium;
        }

        

       
    }

        
        
