* {
  font-family: Gilroy-Bold;
  scroll-behavior: smooth;
  scroll-margin-top: 8vh;
  color: white;
  margin: 0;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

p {
  margin: 0;
}

::-webkit-scrollbar {
  display: none;
}

.main-app {
  display: flex;
  flex-direction: column;
  background-image: url("assets/images/backgrounds/final-background.png");
  background-position: center;
  background-repeat: repeat;
  overflow-x: hidden;
}

a:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "Gilroy-Bold";
  src: url("assets/fonts/Gilroy-Bold.ttf");
}

@font-face {
  font-family: "Gilroy-Medium";
  src: url("assets/fonts/Gilroy-Medium.ttf");
}
